{% extends 'core/base.html' %}
{%load static %}
{% block content %}
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">NeoSoft Traning Portal</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'core:user-detail' user.id %}">Traning & Assignment Status</a></li>
            <li><a href="{% url 'core:about' %}">Client</a></li>
            
            <li><a href="{% url 'core:about' %}">About</a></li>
            <li><a href="{% url 'core:login'  %}">Logout</a></li>

          </ul>
        </div>
      </nav>
      

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">{{user.first_name}} Home Page</h1>
          <p class="lead">Neosoft Traning Portal</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>User</label>
          <input
          class="form-control"
          type="text"
          formControlName="drive_type"
          placeholder="Username"
          value="{{user.first_name}}"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Email</label>
          <input
          class="form-control"
          type="text"
          formControlName="drive_type"
          placeholder="Username"
          value="{{user.email}}"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>User Type</label>
          <input
          class="form-control"
          type="text"
          formControlName="drive_type"
          placeholder="Username"
          value="{{user.User_type}}"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Contact No</label>
          <input
          class="form-control"
          type="text"
          formControlName="drive_type"
          placeholder="Username"
          value="{{user.mobile_number}}"
          />
        </div>
      </div>   


</body>
{% endblock %}